*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-weight : (
    "regular" : 300,
    "medium"  : 500,
    "bold"   :  600

);

$textSize : (
    "small" :12px,
    "big"  : 32px
);
$colors : (
    "primary" : #007BFF,
    "secondary" : #6C757D,
    "success" : #28A745,
    "danger" : #DC3545,
    "warning" : #FFC107,
    "info" : #17A2B8,
    "light" : #F8F9FA,
    "dark" : #343A40,
    "white" : #FFFFFF,
);

@mixin text_color($light,$dark) {
    color:$light;
    background-color: $dark;
}

.box{
    width: 100%;
    height: 400px;
    background-color: map-get($colors , "primary");
    transition: 1s;
    &_child{
        width: 50%;
        height: 100px;
        @include text_color(black,rgb(35, 51, 141));
        font-weight :  map-get($font-weight,"bold");
        font-size: map-get($textSize , big );

    }
}

